<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Commit Explainer</title>
    <link rel="manifest" href="{{ url_for('static',filename='manifest.json') }}" />
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='new.min.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='night.css') }}">

    <style>
        :root {
            font-family: "SF Pro", sans-serif;
        }
        h1 {
            font-size: 3rem;
        }
        .commit-table td:nth-child(1) {
            font-family: monospace;
            color: seagreen;
            white-space: nowrap;
        }
        form div {
            margin-top: 0.5rem;
            margin-bottom: 0.5rem;
        }

    </style>
</head>
<body>
    <div class="content">
        {% block content %} {% endblock %}
    </div>
</body>
</html>
